<div class="h-screen bg-gradient-to-r bg-[#0f1722] relative text-white  text-center !bg-fixed overflow-hiiden"
    id="experience-section">
    <div class="containers">
        <div class="timeline">
            <div class="swiper-container" id="education-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-0" [ngStyle]="{backgroundImage: 'url(assets/img/education-03.jpeg)'}"
                        data-year="2024">
                        <div class="swiper-slide-content"><span class="timeline-year">2024</span>
                            <h4 class="timeline-title">Engineering Degree in Software Engineering</h4>
                            <span class="university">TEK-UP University</span>
                            <p class="timeline-text">Focused on advanced software design, development methodologies, and
                                project management. Specialized in creating
                                efficient, scalable, and secure applications. Developed a comprehensive SEO platform for
                                the final project.</p>
                        </div>
                    </div>

                    <div class="swiper-slide slide-1" [ngStyle]="{backgroundImage: 'url(assets/img/education-02.jpeg)'}"
                        data-year="2017">
                        <div class="swiper-slide-content"><span class="timeline-year">2017</span>
                            <h4 class="timeline-title">Applied License in Software Development</h4>
                            <span class="university">Higher Institute of Technological Studies (ISET)</span>

                            <p class="timeline-text">Acquired strong foundational knowledge in programming, database
                                management, and software lifecycle. Completed several
                                practical projects, emphasizing real-world software solutions.</p>
                        </div>
                    </div>
                    <div class="swiper-slide slide-2" [ngStyle]="{backgroundImage: 'url(assets/img/education-01.jpeg)'}"
                        data-year="2014">
                        <div class="swiper-slide-content"><span class="timeline-year">2014</span>
                            <h4 class="timeline-title">Baccalaureate in Computer Science</h4>
                            <span class="university">Grombalia Secondary School</span>

                            <p class="timeline-text">Built a solid understanding of computer science fundamentals,
                                algorithms, and problem-solving techniques, setting the
                                groundwork for advanced studies in software engineering.</p>
                        </div>
                    </div>

                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination swiper-pagination-education"></div>
            </div>
        </div>
    </div>
</div>