<h1 class="text-5xl font-bold txt-center mb-10">Welcome Section Settings</h1>
<div class="bg-slate-800 p-10 w-full">
    <span class="my-5 p-3 bg-slate-400 block text-green-900" *ngIf="message">{{message}}</span>
    <span class="my-5 p-3 bg-slate-400 block text-red-900" *ngIf="error">{{error}}</span>
    <form (submit)="saveTitle()" class="w-full flex gap-5 mb-10">
        <input type="text" name="title" [(ngModel)]="title" class="w-full !bg-slate-700"> <button type="submit"
            class="!bg-slate-700 px-5 hover:!bg-slate-900">Save</button>
    </form>
    <table class="w-full text-left">
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>actions</th>
        </thead>
        <tbody>
            <tr *ngFor=""></tr>
        </tbody>

    </table>
</div>