<div class="h-screen bg-gradient-to-r bg-[#0f1722] relative text-white  text-center !bg-fixed overflow-hiiden"
    id="experience-section" [ngStyle]="{
    background: 'url(assets/img/bg-experience.png)',
    backgroundRepeat: 'no-repeat',
    backgroundSize: 'cover'
 
  }">
    <div class="h-full bg-[#000000de] p-10 ">
        <div class=" flex flex-col justify-evenly h-full container mx-auto ">
            <div class=" md:!mb-10" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500"
                data-aos-once="false">
                <h2 class="text-lg text-[#55e6a5] uppercase mb-3 sm:!mb-10 font-light">
                    My Experiences
                </h2>
                <span class="text-xl md:text-5xl font-bold uppercase">Web Developer & Tech Lead, Driving Innovation
                    and Team
                    Collaboration.</span>
            </div>
            <div class="relative overflow-hidden">
                <p-carousel [value]="items" [numVisible]="3" [numScroll]="1" [circular]="false" autoplayInterval="7000"
                    data-aos="flip-up" data-aos-delay="800" data-aos-duration="500" data-aos-once="false"
                    [responsiveOptions]="responsiveOptions">
                    <ng-template let-item pTemplate="item">
                        <div class="item p-5 w-full sm:!text-left">
                            <div class="px-5 py-3 border border-1 border-[#55e6a5] mb-2 inline-block">{{item.daterange}}
                            </div>
                            <div class="font-bold text-white text-2xl title-border !uppercase">{{item.name}}</div>
                            <p class="text-justify" [innerHTML]="item.description"></p>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
            <!--             <div class="swiper-experience block">
                <div class="swiper-wrapper">
                
                    <div class="swiper-slide " *ngFor="let item of items">
                        <div class="px-5 py-3 border border-1 border-[#55e6a5] mb-2 inline-block">{{item.daterange}}
                        </div>
                        <div class="font-bold text-white text-2xl title-border !uppercase">{{item.name}}---</div>
                        <p class="text-justify" [innerHTML]="item.description"></p>
                    </div>
                    

                </div>
              
                <div class="swiper-pagination swiper-pagination-experience"></div>
                <div class="swiper-button-prev swiper-button-prev-experience"></div>
                <div class="swiper-button-next swiper-button-next-experience"></div>
            </div> -->

        </div>
    </div>
</div>