.image-banner::after {
  position: absolute;
  content: "";
  background: url("/assets/img/banner.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 97%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: bannerAnimi1 linear 1s infinite alternate;
  -webkit-animation: bannerAnimi1 linear 1s infinite alternate;
}
.img {
  height: auto;
  position: relative;
  padding: 6%;
  z-index: 1;
  margin: 0 50px;
}
@keyframes bannerAnimi1 {
  from {
    top: 5px;
  }

  to {
    top: 0;
  }
}

#container {
  position: relative;

  font-weight: 900;

  text-transform: uppercase;
  color: #ffffff;
  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  color: #55e6a5;
}
