<div id="s" class="relative w-full overflow-hidden">
  <div [ngStyle]="{background:'url(assets/img/bg.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover'}" class="relative h-56 overflow-hidden h-screen bg-no-repeat bg-cover" >
    <div class="stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
  <div
    id="item-1"
    [ngClass]="{ active: currentSlide === 0 }"

    class="item w-full h-screen text-white flex items-center justify-center bg-no-repeat bg-cover bg-gradient-to-r from-transparent to-[#8b5cf673]"
  >
    <div
      class="description-1 bg-gradient-to-r from-[#000] to-transparent p-5"
    >
      <div class="container-text font-bold pb-3 title " data-aos="flip-up">
        <p>Hello 👋 I'm</p>
        <div class="animation">
          <div class="first"><div>Sahraoui Oussema</div></div>
          <div class="second"><div>Web Developer</div></div>
          <div class="third"><div>Software Engineer</div></div>
        </div>
      </div>
 
      <p class="text-lg w-1/2 block text-justify description" data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1500">Je maîtrise une gamme de technologies frontend et backend pour construire des sites web modernes et performants. Que ce soit avec React, Angular, Node.js ou PHP, chaque projet est une nouvelle opportunité pour moi de repousser mes limites et de créer des expériences utilisateur exceptionnelles.</p>

      <img src="/assets/img/oussama.png" class="developer " data-aos="fade-left"      data-aos-delay="5000" data-aos-duration="1500"  data-aos-anchor-placement="center-bottom" alt="image">
    
      <div class="download flex gap-3 items-center text-lg mt-5" >
      
        <a href="#" class="dnbtn bounce2"></a> 
      </div>
    </div>

  </div>

    <!-- Carousel indicators -->
  </div>

</div>
