<div class="h-screen bg-gradient-to-r bg-white relative text-white p-5 text-left" [ngStyle]="{
    background: 'url(assets/img/banner-scaled.jpg)',
    backgroundRepeat: 'no-repeat',
    backgroundSize: 'cover'
  }">
  <div class="container m-auto h-[100%]">
    <div class="flex items-center h-full flex-wrap-reverse">
      <div class="sm:w-[60%]">
        <div id="container" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="500"
          class="mb-5 md:mb-20  sm:!mb-20 sm:text-left sm:text-lg md:text-5xl text-2xl inline-block leading-normal">
          <div class="inline  max-w-[500px] " [innerHTML]="title"></div>
          <div id="text1" class="ml-3  "></div>
          <div id="text2" class="ml-3 "></div>
        </div>
        <p class="mb-10 inline-block sm:!mb-20 text-justify" data-aos="zoom-out" data-aos-delay="800"
          data-aos-duration="500">
          {{description}}
        </p>


        <a href="assets/files/cv.pdf" target="_blank" class="btn mr-2" data-aos="fade-out" data-aos-delay="1000"
          data-aos-duration="500">Download cv <i class="fa-solid fa-download ml-2"></i></a>
        <a (click)="openPopup()" target="_blank" class="btn cursor-pointer" data-aos="fade-out" data-aos-delay="1000"
          data-aos-duration="500">AI Compatibility<i class="fa-solid fa-brain ml-2 "></i></a>
      </div>
      <div class="sm:w-[40%] pt-[100px] min-w-[200px]">
        <div data-aos="fade-left" data-aos-delay="100" data-aos-duration="500">
          <div class="relative img image-banner">
            <div id="img" class="img-fluid w-100 mx-auto" [ngStyle]="{
                  background: 'url(' + thmubImg + ')',
                  backgroundRepeat: 'no-repeat',
                  backgroundSize: 'cover',
                    'mask-image': 'url(/assets/img/profile-min.png)',
                  '-webkit-mask-image': 'url(/assets/img/profile.png)',
                  'mask-size': '300px 335px',
                  '-webkit-mask-size': '300px 335px'
                }">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
