.image-banner::after {
  position: absolute;
  content: "";
  background: url(/assets/img/banner.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 334px;
  height: 374px;
  transform: translate(0px, -20px);
  display: block;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: auto auto;
  animation: bannerAnimi1 linear 1s infinite alternate;
  -webkit-animation: bannerAnimi1 linear 1s infinite alternate;
}

#img {
  width: 300px;
  height: 335px;
  background-size: cover !important;
  mask-size: '150px 150px';
  -webkit-mask-size: '150px 150px'
}

@keyframes bannerAnimi1 {
  from {
    top: 5px;
  }

  to {
    top: 0;
  }
}

#container {
  position: relative;

  font-weight: 900;

  text-transform: uppercase;
  color: #ffffff;
  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  color: #55e6a5;
}